.container{
    background-image: linear-gradient(to bottom, rgba(80, 188, 221, 0.596), rgba(117, 19, 93, 0.73)),url("./Assets/cold-bg.jpg");
    background-position: cover;
    height: 100vh;
    transition: 0.7 ease-out;
}
.search-box{
    position: absolute;
    padding-top:4px ; 
    left:50%;
    transform: translate(-50%); 
}
.search-box input{
    border-radius: 100px;
}
.container.warm{
    background-image: linear-gradient(to bottom, rgba(240, 187, 14, 0.52), rgba(209, 176, 114, 0.73)),url("./Assets/warm-bg.jpg");
}